/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
    display: flex;
    font-size: 12px;
}

p {
    line-height: 2rem;
}

nav .brand-logo p {
    line-height: 0.5rem;
}

.logo-container {
    display: block;
    top: 1rem;
    position: relative;

}

.sidenav-trigger {
    color: #1B5E20;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.row-last {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.paragraph {
    font-family: "Times New Roman";
    background: linear-gradient(to right, #bf953f, #e3c27c, #b47328, #e3c27c, #aa771c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 8vw;
    margin: 0;
    font-weight: 400;
}

.paragraph:after {
    background: none;
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: -1px 0 1px #c6bb9f,
    0 1px 1px #c6bb9f,
    5px 5px 10px rgba(99, 69, 48, 0.31),
    -5px -5px 10px rgba(99, 69, 48, 0.31);
}

.gradient {
    background: linear-gradient(to top, #bf953f, #e3c27c, #b47328, #e3c27c, #aa771c);
}

#localization, #phone, #mail {
    width: 50px;
    height: 50px;
}

#phone-small {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 20px;
}

a {
    color: rgba(0, 0, 0, .85);
}

.justify {
    text-align: justify;
}

i.material-icons, i.material-icons:focus {
    color: #ffff;
}

#parallax2, #parallax3, #parallax2, #parallax4 {
    width: 100%;
}

#message, #hamburger {
    color: #E3C27C;
}