/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #1B5E20;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.logo-img {
    width: 90px;
    height: 60px;
}

.row-last {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.paragraph {
    font-family: "Times New Roman";

}

#localization, #phone, #mail {
    width: 50px;
    height: 50px;
}

#phone-small {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

a {
    color: rgba(0, 0, 0, .85);
}

.justify {
    text-align: justify;
}
.btn {
    background-color: #1B5E20 !important;;

}
i.material-icons, i.material-icons:focus {
    color: #1B5E20;
}
